# Python specific
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env

# Environment variables
.env

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Packages
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Flask
instance/
*.log

# PyInstaller
*.manifest
*.spec

# C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints/

# pyenv
.python-version

# Virtualenv
pip-log.txt
pip-delete-this-directory.txt

# VS Code
.vscode/

# macOS files
.DS_Store
